body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

div {
    position: relative;
    z-index: 0;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}

.color-chasing::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 0 0;
    background-image: conic-gradient(#399953, #399953);
    animation: rotate 3s linear infinite;
}

.color-chasing::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
    animation: opacityChange 3s infinite alternate;
}

@keyframes opacityChange {
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}